* {
  box-sizing: border-box;
}
h1, h2, p {
  color: white;
} 
.input-container {
  padding: 5px;
  background-color: #037171;
  border-radius: 5px;
  width: 500px;
  margin: 10px 0 50px 0;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
}
*[_ngcontent-ng-c3491765756] {
  box-sizing: border-box;
  color: #037171;
}

.priority {
  display: flex;
  flex-direction: column;
}
p {
  margin: 5px;
}

 button {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.name-input {
  border: 2px solid #037171;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  transition: border-color 0.3s ease;
}

.name-input:hover {
  border-color: #4caf50;
}

.name-input:focus {
  border-color: #27ae60;
  box-shadow: 0 0 8px #4caf50;
}

.name-input::placeholder {
  color: #95a5a6;
  font-style: italic;
}

.priority {
  display: flex;
  align-items: center;
  gap: 3px;

}

.priority p {
  font-size: 18px;
  font-weight: bold;
}

.priority-select {
  padding: 8px;
  border: 2px solid #037171;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.priority-select:hover {
  border-color: #4caf50;
}












